#GLOBAL
VERBOSE=1
LINUXCNC="/home/tc2000r/linuxcnc-dev"
SYNC_FILE_PATH="/home/tc2000r/Desktop/TC2000R/sercos2-linuxcnc/syncro-data/tc2000r/byte-raw.bin"
MAX_RT_CYCLEN=1200 				# must be a bit less, than sercos cycle len
EXPECTED_READ_POSITION=700	# see docs
#ETHERNET CONFIG
IFNAME="enp3s0" 
HW_MAC_0=0x00
HW_MAC_1=0x11
HW_MAC_2=0x22
HW_MAC_3=0x33
HW_MAC_4=0x44
HW_MAC_5=0x55

EMC_MAC_0=0x01
EMC_MAC_1=0x12
EMC_MAC_2=0x23
EMC_MAC_3=0x34
EMC_MAC_4=0x45
EMC_MAC_5=0x56

ETH_BUF_SIZE=1024

#SERCOS CONFIG
SERC_MAX_MESSAGE_SIZE=500
DRIVE_NUM=4

#drive 0 parameters
DRIVE0_ADDR=1
DRIVE0_IDN_IN_NUM=3
DRIVE0_IDN_OUT_NUM=1
DRIVE0_IDN_IN0_SIZE=2
DRIVE0_IDN_IN1_SIZE=4
DRIVE0_IDN_IN2_SIZE=2
DRIVE0_IDN_OUT0_SIZE=4

#drive 1 parameters
DRIVE1_ADDR=2
DRIVE1_IDN_IN_NUM=3
DRIVE1_IDN_OUT_NUM=1
DRIVE1_IDN_IN0_SIZE=2
DRIVE1_IDN_IN1_SIZE=4
DRIVE1_IDN_IN2_SIZE=2
DRIVE1_IDN_OUT0_SIZE=4

#drive 2 parameters
DRIVE2_ADDR=3
DRIVE2_IDN_IN_NUM=3
DRIVE2_IDN_OUT_NUM=1
DRIVE2_IDN_IN0_SIZE=2
DRIVE2_IDN_IN1_SIZE=4
DRIVE2_IDN_IN2_SIZE=2
DRIVE2_IDN_OUT0_SIZE=4

#drive 3 parameters
DRIVE3_ADDR=4
DRIVE3_IDN_IN_NUM=3
DRIVE3_IDN_OUT_NUM=1
DRIVE3_IDN_IN0_SIZE=2
DRIVE3_IDN_IN1_SIZE=4
DRIVE3_IDN_IN2_SIZE=2
DRIVE3_IDN_OUT0_SIZE=4

